*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.ini
*.tpl
*latexmk
*.fls
.ipynb_checkpoints
*.so
*.pyx
*.o
/python/nb/*.c
/R/shiny
/R/dplyr
